<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-body">

    <div class="form-row">
      <div class="lbl">
        <%= form.label :title %>
      </div>
      <div class="fld">
        <%= form.text_field :title %>
      </div>
    </div>

    <div class="form-row">
      <div class="lbl">
        <%= form.label :rating %>
      </div>
      <div class="fld">
        <%= form.text_field :rating %>
      </div>
    </div>

    <div class="form-row">
      <div class="lbl">
        <%= form.label :release_date %>
      </div>
      <div class="fld">
        <%= form.date_field :release_date, format: "%b %d, %Y" %>
      </div>
    </div>

    <div class="form-row">
      <%= form.label :description, class: "lbl-desc" %>
    </div>

    <div class="form-row">
      <%= form.text_field :description, class: "fld-desc" %>
    </div>

    <div class="form-buttons">
      <%= submit_tag "Update", class: "btn" %>
      <%= button_tag(type: 'button', class: "btn") do %>
        <%= link_to "Cancel", movies_path %>
      <% end %>
    </div>
  </div>
<% end %>
