<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<div class="header-container">
  <h1>Movies</h1>
  <%= link_to "New movie", new_movie_path, class: 'new-movie-link' %>
</div>
<table>
  <thead>
  <tr>
    <th class="<%= "sorted-column" if params[:sort] == "title" %>">
      <%= link_to movies_path(sort: 'title', direction: sort_direction('title')) do %>
        Title
        <% if params[:sort] == 'title' %>
          <%= sort_icon(params[:direction]) %>
        <% end %>
      <% end %>
    </th>
    <th class="<%= "sorted-column" if params[:sort] == "rating" %>">
      <%= link_to movies_path(sort: 'rating', direction: sort_direction('rating')) do %>
        Rating
        <% if params[:sort] == 'rating' %>
          <%= sort_icon(params[:direction]) %>
        <% end %>
      <% end %>
    </th>
    <th class="<%= "sorted-column" if params[:sort] == "description" %>">
      <%= link_to movies_path(sort: 'description', direction: sort_direction('description')) do %>
        Description
        <% if params[:sort] == 'description' %>
          <%= sort_icon(params[:direction]) %>
        <% end %>
      <% end %>
    </th>
    <th class="<%= "sorted-column" if params[:sort] == "release_date" %>">
      <%= link_to movies_path(sort: 'release_date', direction: sort_direction('release_date')) do %>
        Release Date
        <% if params[:sort] == 'release_date' %>
          <%= sort_icon(params[:direction]) %>
        <% end %>
      <% end %>
    </th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody class="movies_tbody">
  <% @movies.each do |movie| %>
    <tr class="movie_row">
      <td class="<%= "sorted-column" if params[:sort] == "title" %>">
        <%= movie.title %>
      </td>
      <td class="<%= "sorted-column" if params[:sort] == "rating" %>">
        <%= movie.rating %>
      </td>
      <td class="<%= "sorted-column" if params[:sort] == "description" %>">
        <%= movie.description %>
      </td>
      <td class="<%= "sorted-column" if params[:sort] == "release_date" %>">
        <%= movie.release_date.strftime("%b %d, %Y") %>
      </td>
      <td><%= link_to "Show/Edit", movie %></td>
    </tr>
  <% end %>
  </tbody>
</table>
